[user]
    name = Joshua Barrington
    email = joshsbarrington@gmail.com

[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.gitignoreglobal

[delta]
    navigate = true
    syntax-theme = gruvbox-dark

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[hub]
    protocol = ssh

[pull]
    rebase = false

[push]
    autoSetupRemote = true

[filter "lfs"]
    process = git-lfs filter-process
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
